<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
        <div class="nav">
        <div class="heading">
            <p>Welcome To Admin Panel</p>
        </div>
        {{>n}}
    </div>
    <h1 class="h">USER'S WATCH LATER</h1>

    {{!-- <div class="cards">
    {{#each data}}    
        <a href="http://localhost:3000/view/{{this.productId}}" style="color: black; text-decoration: none; display: inline-block;">
        <div class="card">
            <div class="user_id">
            <p>USER ID: {{this.userId}}</p>
            </div>
            <div class="more">
                <img src="{{this.img}}" alt="image">
                <p>{{this.title}}</p>
            </div>
        </a>
        </div>
    {{/each}}
    </div> --}}

    <div class="cards">

         {{#each data}}    
        <a href="http://localhost:3000/view/{{this.productId}}" style="color: black; text-decoration: none; display: inline-block;" target="_blank">
        <div class="card">
            
            <div class="head">
                <div class="h_det">
                    <p><b>USER ID: </b>{{this.userId}}</p>
                    <p><b>USER NAME: </b>{{this.userName}}</p>
                </div>
            </div>

            <div class="det">
                <div class="poster">
                    <img src="{{this.img}}" alt="image">
                </div>
                <div class="detail">
                    <p><b>TITLE: </b>{{this.title}}</p>
                    <p><b>CATEGORY: </b>{{this.category}}</p>
                    <p><b>LANGUAGE: </b>{{this.language}}</p>
                </div>
            </div>

        </div>
        </a>
    {{/each}}
    </div>
</body>
</html>