<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/upload.css">
</head>
<body>
    <div class="nav">
        <div class="heading">
            <p>Welcome To Admin Panel</p>
        </div>
        {{>n}}
    </div>
    <div class="main">
        <h1 align="center">Edit Details:</h1>
        <div class="form_div">
            <form action="/edit/{{dataObj.id}}" method="post">
            
            <div class="page">    

                <label class="field field_v3">
                <input class="field__input" placeholder="e.g. iron man" name="title" autocomplete="off" value="{{dataObj.title}}">
                <span class="field__label-wrap">
                    <span class="field__label">Title</span>
                </span>
                </label>

                <label class="field field_v3">
                <pre class="field field_v3"> VISIBLITY: <b>"{{dataObj.visiblity}}"</b>  <label>Yes: <input  type="radio" name="visiblity" required="true" value="true">  </label>    <label>No: <input  type="radio" name="visiblity" value="false"></label></pre>
                </label>

                <label class="field field_v3">
                <select id="category" name="category" class="field__input">
                    
                    {{#cate cate}}
                    {{/cate}}
                </select><br>
                <span class="field__label-wrap">
                    <span class="field__label">CATEGORY</span>
                </span>
                </label>

                
                <label class="field field_v3">
                <select id="category" name="language" class="field__input">
                    
                    {{#cate language}}
                    {{/cate}}
                </select><br>
                <span class="field__label-wrap">
                    <span class="field__label">LANGUAGE</span>
                </span>
                </label>
                
                
                <label class="field field_v3">
                <input class="field__input" placeholder="e.g. iron man1" name="search_keyword" autocomplete="off" value="{{dataObj.search_keyword}}">
                <span class="field__label-wrap">
                    <span class="field__label">SEARCH KEYWORDS</span>
                </span>
                </label>

                
                <label class="field field_v3">
                <input class="field__input" placeholder="e.g. iron man, iron man1" name="keywords" autocomplete="off" value="{{dataObj.keywords}}">
                <span class="field__label-wrap">
                    <span class="field__label">KEYWORDS</span>
                </span>
                </label>

                
                <label class="field field_v3">
                <input class="field__input" placeholder="e.g. cast:rdj,pepper pots; production: marvel" name="table" autocomplete="off" value="{{dataObj.table}}">
                <span class="field__label-wrap">
                    <span class="field__label">TABLE</span>
                </span>
                </label>

                
                <label class="field field_v3">
                <textarea class="field__input"  placeholder="iron man is a 2008 american superhero film based on the marvel comics..." name="des" style="height: 150px; resize:none;" autocomplete="off" value="{{dataObj.des}}">{{dataObj.des}}</textarea>
                <span class="field__label-wrap">
                    <span class="field__label">DESCRIPTION</span>
                </span>
                </label>

            
                <div class="b">
                   <button type="submit">Upload</button>
                </div>
            </div>
            </form>

        </div>
    </div>
    
</body>
</html>